<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <base href="/">
    <link rel="stylesheet" href="css/index.css"/>
    <!-- Import Vue 3 -->
    <script src="js/vue.global.js"></script>
    <!-- Import component library -->
    <script src="js/index.full.js"></script>
    <!--jquery-->
    <script src="js/jquery.js"></script>
    <!--axios-->
    <script src="js/axios.js"></script>

    <script src="js/index.iife.min.js"></script>

    <script src="js/request.js"></script>

    <style>
        .avatar {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
        }

        #app {
            height: 100%;
        }

        .demo-fit .block {
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
        }

    </style>

</head>
<body>
<div id="app">
    <el-button type="primary" @click="toAdd">添加就业信息</el-button>
    <el-table :data="tableData" stripe>
        <el-table-column type="expand">
            <template #default="props">
                <h3>合同信息</h3>
                <p>{{ props.row.contract }}</p>
            </template>
        </el-table-column>
        <el-table-column type="index" label="#" width="60"></el-table-column>
        <el-table-column prop="name" label="姓名" width="120"></el-table-column>
        <el-table-column prop="company" label="公司"></el-table-column>
        <el-table-column prop="startDate" label="开始时间" :formatter="dateFormatter"></el-table-column>
        <el-table-column prop="endDate" label="结束时间" :formatter="dateFormatter"></el-table-column>
        <el-table-column>
            <template #header>
                <el-input v-model="page.query" @keydown.enter="initPage" size="small" placeholder="输入学生姓名搜索"/>
            </template>
            <template #default="scope">
                <el-button size="small" type="warning" @click="toEdit(scope.$index, scope.row)">
                    编辑
                </el-button>
                <el-popconfirm title="确定删除吗？" @confirm="handleDelete(scope.row.id)">
                    <template #reference>
                        <el-button size="small" type="danger">删除</el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>

    </el-table>
    <br>
    <el-pagination background layout="prev, pager, next"
                   :page-size="page.pageSize"
                   :total="page.total"
                   @current-change="changePage"></el-pagination>

    <el-dialog v-model="dialogVisible" :title="isAdd ? '添加':'修改'" width="500" @close="resetForm">
        <el-form :model="form" :rules="formRule" ref="formRef" label-width="auto" style="max-width: 490px">

            <el-form-item label="学号">
                <el-input v-model="form.stuNo"
                          :disabled="!isAdd"
                          prefix-icon="Search"
                          @change="findStu"
                          :placeholder="isAdd ? '在学生列表搜索姓名复制学号':'学号不可修改'"></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="form.name" disabled prefix-icon="CircleCheck"></el-input>
            </el-form-item>
            <el-form-item label="公司名">
                <el-input v-model="form.company" prefix-icon="CircleCheck"></el-input>
            </el-form-item>
            <el-form-item label="工作时间">
                <el-date-picker
                        v-model="date"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                ></el-date-picker>
            </el-form-item>
            <el-form-item label="合同">
                <el-input v-model="form.contract" type="textarea"></el-input>
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="resetForm(formRef)" v-if="isAdd">重置</el-button>
                <el-button type="primary" @click="commit">
                    提交
                </el-button>
            </div>
        </template>
    </el-dialog>
</div>
</body>
</html>

<script>
    window.ELMSG = ElementPlus.ElMessage

    const {createApp, reactive, ref, toRefs, onMounted, computed} = Vue

    const app = createApp({
        setup(props, context) {
            let reqPath = 'emp'
            const state = reactive({
                tableData: [],
                page: {
                    pageNum: 1,
                    pageSize: 10,
                    query: ''
                },
                form: {
                    id: '',
                    name: '',
                    company: '',
                    startDate: '',
                    endDate: '',
                    contract: '',
                    date: [],
                    stuNo: ''
                },
                dialogVisible: false,
                isAdd: true,
                dialogTitle: '添加',
                formRule: {}
            })
            // 初始化页面
            const initPage = async () => {
                const {data: res} = await $axios.get(`${reqPath}?pageNum=${state.page.pageNum}&pageSize=${state.page.pageSize}&query=${state.page.query}`)
                console.log(res)
                state.tableData = res.list
                state.page.total = res.total
            }

            const date = computed({
                get() {
                    return [state.form.startDate, state.form.endDate]
                },
                set(val) {
                    console.log(val)
                    state.form.startDate = val[0]
                    state.form.endDate = val[1]
                }
            })

            // 跳转页面
            const changePage = (pageNum) => {
                state.page.pageNum = pageNum
                initPage()
            }

            // 删除
            const handleDelete = (id) => {
                $axios.delete(reqPath + '/' + id).then(res => {
                    if (res.status == 200) {
                        ElementPlus.ElMessage({type: 'success', message: '删除成功'})
                    } else {
                        ElementPlus.ElMessage({type: 'error', message: res.msg})
                    }
                    initPage()
                })
            }

            const toEdit = (index, data) => {
                state.form = {...data}
                state.isAdd = false
                state.dialogVisible = true

            }
            const toAdd = () => {
                state.isAdd = true
                state.dialogVisible = true
            }


            const commitEdit = async () => {
                await $axios.put(reqPath, state.form).then(res => {
                    if (res.status !== 200) {
                        throw new Error(res.msg)
                    }
                    return res
                })
            }

            const commit = () => {
                const promise = state.isAdd ? commitAdd() : commitEdit();
                promise.then(value => {
                    ElementPlus.ElMessage({message: '成功', type: 'success'})
                    state.dialogVisible = false
                    resetForm()
                    initPage()
                }, reason => {
                    ElementPlus.ElMessage({message: reason.message, type: 'error'})
                })
            }

            const commitAdd = async () => {
                const res = await $axios.post(reqPath, state.form)
                console.log(res)
                if (res.status === 500) {
                    throw new Error(res.msg)
                }
                return res
            }

            const resetForm = () => {
                state.form = {id: ''}
            }

            const dateFormatter = (row, column, value) => {
                let date = new Date(value)
                return `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`
            }
            const findStu = async () => {
                const res = await $axios.get("stu/no/" + state.form.stuNo)
                if (res.status == 200) state.form.name = res.data.name
                else state.form.name = ''
            }

            initPage()
            return {
                ...toRefs(state),
                changePage,
                initPage,
                handleDelete,
                toEdit,
                commit,
                toAdd,
                resetForm,
                date,
                dateFormatter,
                findStu
            }
        }
    })

    const {User, Lock, Plus, Message, Phone, Female, CircleCheck, Search} = ElementPlusIconsVue

    // 图标库
    app.component('User', User)
    app.component('Lock', Lock)
    app.component('Plus', Plus)
    app.component('Message', Message)
    app.component('Phone', Phone)
    app.component('Female', Female)
    app.component('CircleCheck', CircleCheck)
    app.component('Search', Search)
    app.use(ElementPlus)

    app.mount('#app')

</script>