<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywk.sems.mapper.EmploymentMapper">

    <resultMap id="BaseResultMap" type="com.ywk.sems.bean.Employment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sid" column="s_id" jdbcType="BIGINT"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="contract" column="contract" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,s_id,
        company,start_date,end_date,
        contract
    </sql>
</mapper>
