<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywk.sems.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.ywk.sems.bean.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="no" column="no" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="birth" column="birth" jdbcType="DATE"/>
            <result property="dept" column="dept" jdbcType="VARCHAR"/>
            <result property="clas" column="clas" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="resume" column="resume" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,no,name,
        gender,birth,dept,
        clas,email,resume,
        photo
    </sql>
</mapper>
